top; configure terminal;

# configuration generated Mon Jun 19 08:15:15 2017; firmware version 283762

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$UWXcQ/Ar$RKWvp.MkrFOLE6V8JkR2m1"
  access-level privileged
exit

user "admin2"
  summary "Created by startup script"
  password-hashed "$1$H1reb/PO$C66wcjqA.Tygr6fKFRRVL1"
  access-level privileged
exit

user "apigateway-mgmt-internal"
  password-hashed "$1$d.1EKGUM$XySWQZ48WaczruUDHkqqP."
  access-level group-defined
  group apigateway-mgmt-internal
exit

user "test"
  password-hashed "$1$EC/lY90L$pS8lG1UzLfFp2RIlkDkZd/"
  access-level group-defined
  group test
exit

%endif%
